.about{
  background:#ffffff;

  position:relative;
}

/* Layout */

.about-content{
  display:grid;

  grid-template-columns:1.1fr 1fr;

  gap:45px;

  align-items:start;
}

/* LEFT */

.about-tag{
  display:inline-flex;

  align-items:center;

  padding:10px 18px;

  background:#eff6ff;

  color:#2563eb;

  border-radius:40px;

  font-size:0.9rem;

  font-weight:600;

  margin-bottom:22px;
}

.about-left h3{
  font-size:3.3rem;

  line-height:1.2;

  color:#0f172a;

  margin-bottom:22px;

  font-weight:750;

  letter-spacing:-1.5px;
}

.about-left p{
  color:#64748b;

  font-size:1.03rem;

  line-height:1.9;

  margin-bottom:18px;

  max-width:700px;
}

/* Stats */

.about-stats{
  display:flex;

  gap:18px;

  margin-top:35px;

  flex-wrap:wrap;
}

.stat-box{
  min-width:150px;

  background:white;

  padding:22px 28px;

  border-radius:20px;

  box-shadow:0 10px 30px rgba(0,0,0,0.05);

  transition:0.3s;
}

.stat-box:hover{
  transform:translateY(-5px);

  box-shadow:0 15px 35px rgba(37,99,235,0.12);
}

.stat-box h4{
  font-size:2rem;

  color:#2c52a5;

  margin-bottom:6px;

  font-weight:700;
}

.stat-box span{
  color:#64748b;

  font-size:0.95rem;

  font-weight:500;
}

/* RIGHT */

.about-right{
  display:grid;

  grid-template-columns:1fr 1fr;

  gap:20px;
}

/* Cards */

.about-card{
  background:white;

  padding:28px;

  border-radius:24px;

  box-shadow:0 10px 30px rgba(0,0,0,0.05);

  border:1px solid transparent;

  transition:0.3s;
}

.about-card:hover{
  transform:translateY(-6px);

  border-color:#2563eb;
}

/* Icon */

.about-icon{
  width:60px;
  height:60px;

  border-radius:18px;

  background:#eff6ff;

  color:#2f519b;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:1.5rem;

  margin-bottom:18px;
}

/* Card Content */

.about-card h4{
  font-size:1.2rem;

  color:#0f172a;

  margin-bottom:12px;

  font-weight:650;
}

.about-card p{
  color:#64748b;

  line-height:1.8;

  font-size:0.96rem;
}

/* Responsive */

@media(max-width:992px){

  .about-content{
    grid-template-columns:1fr;
  }

  .about-left{
    text-align:center;
  }

  .about-left p{
    margin-inline:auto;
  }

  .about-stats{
    justify-content:center;
  }

  .about-right{
    grid-template-columns:1fr 1fr;
  }
}

@media(max-width:768px){

  .about-left h3{
    font-size:2.4rem;
  }

  .about-right{
    grid-template-columns:1fr;
  }

  .stat-box{
    min-width:120px;
  }
}

@media(max-width:600px){

  .about-left h3{
    font-size:2rem;
  }

  .about-stats{
    flex-direction:column;
  }
}